{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <h1>{{ "app.admin.dashboard.welcome"|trans({":user": user.email}) }}</h1>
    <section class="quick-access pt-4">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            {% include 'admin/dashboard/access_code_template.html.twig' with {"form": form} only %}
        </div>
    </div>
    </section>
    <section class="last-devices pt-4">
        <div>
            {% include 'admin/dashboard/last_active_devices.html.twig' with {"lastActiveDevices": lastActiveDevices } only %}
        </div>
    </section>
{% endblock %}
