{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <h1>{{ "admin.dashboard.welcome"|trans }}</h1>
    <div>
        <p>{{ "admin.dashboard.validate"|trans }}</p>
        <div class="form">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
