{% extends '@!EasyAdmin/layout.html.twig' %}

  {% block header_logo %}
    <div class="img-fluid">
        <img class="logo" src="{{ asset('images/matura_logo.png') }}" alt="Matura">
    </div>
    <div class="text-center">
        <a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
            <span class="logo-custom h2">{{ ea.dashboardTitle|raw }}</span>
            <span class="logo-compact"><i class="fas fa-home"></i></span>
        </a>
    </div>
{% endblock header_logo %}