/*

Color theme : https://colorhunt.co/palette/0000001500503f0071fb2576
#000000
#150050
#3F0071
#c01a1c

*/
:root {
  --raisin-black: #32292fff;
  --cornell-red: #c01a1cff;
  --tiffany-blue: #99e1d9ff;
  --mint-cream: #f0f7f4ff;
  --verdigris: #70abafff;
}

.color-red {
  color: var(--cornell-red);
}


body {
  background-image: url("../images/background.svg");
  background-size: 50%;
  background-repeat: repeat;
}

/* Grid */
body > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
  }
  
  article {
    padding: 0;
    overflow: hidden;
  }
  
  article.login {
    padding: 0;
  }

  article div {
    padding: 1rem;
  }
  
  @media (min-width: 576px) {
    body > main {
      padding: 1.25rem 0;
    }
  
    article div {
      padding: 1.25rem;
    }
  }
  
  @media (min-width: 768px) {
    body > main {
      padding: 1.5rem 0;
    }
  
    article div {
      padding: 1.5rem;
    }
  }
  
  @media (min-width: 992px) {
    body > main {
      padding: 1.75rem 0;
    }
  

    article div {
      padding: 1.75rem;
    }
  }
  
  @media (min-width: 1200px) {
    body > main {
      padding: 2rem 0;
    }
  
    article div {
      padding: 2rem;
    }
  }
  
  /* Nav */
  summary[role="link"].secondary:is([aria-current],:hover,:active,:focus) {
    background-color: transparent;
    color: var(--secondary-hover);
  }
  
  /* Hero Image */
  article.login .hero-img {
    display: none;
    background-color: #374956;
    background-image: url("../images/login-image.jpg");
    background-position: center;
    background-size: cover;

  }
  
  @media (min-width: 992px) {
    article.login .hero-img {
      display: block;
    }
  }
  
  /* Footer */
  body > footer {
    padding: 1rem 0;
  }


.text-center {
    text-align: center;
}

form .error {
    color: var(--cornell-red);
    width: 100%;
    display: block;
    margin: 1rem 0;
}

.heart {
    color: var(--cornell-red);
}

.logo {
    max-width: 32px;
    max-height: 32px;
    margin-right: 0.25rem;
}

.login input {
  border-left: 2px solid var(--cornell-red);
}

.border-left-red {
  border-left: 2px solid var(--cornell-red);
}

body .unauthorize-page {
  
  padding-top: 0;
  padding-bottom: 0;

  .device-code {
    font-size: 28px;
    
  }
}