<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="application-name" content="WorldTravelers"/>
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- meta character set -->
        <meta
        charset="utf-8">
        <!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta
        http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            {% block title %}Matura
            {% endblock %}
        </title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="container-fluid">
            <ul>
                <li>
                    <a href="{{ path('admin_dashboard') }}" class="contrast">
                        <img class="logo" src="{{ asset('images/logo.png') }}" alt="Matura"><strong>Matura</strong>
                    </a>
                </li>
            </ul>
        </nav>

        <main class="container"> 
            {% block body %}{% endblock %}
        </main>
        
        <footer class="container-fluid">
            <div class="text-center">
                <small>Made with
                    <span class="heart">♥</span>
                    by
                    <a class="underline" href="https://binariesworld.com/">BinariesWorld</a>
                </small>
            </div>
            <div class="text-center">
                <small>Photo by <a href="https://unsplash.com/@bertsz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">bert b</a> on <a href="https://unsplash.com/photos/rhNff6hB41s?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></small>
            </div>
        </footer>
        <!-- ./ Footer -->
    </body>
</html>
